* {
  margin: 0;
  padding: 0;
  background: #0c1f3d;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* overriding the existing css */
nav.bg-body-tertiary {
  background-color: #0c1f3d!important;
}
