* {
  margin: 0;
  padding: 0;
  background: #0c1f3d;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* overriding the existing css */
nav.bg-body-tertiary {
  background-color: #0c1f3d!important;
}

/* centering div of 404 page */
.centre-div {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* centering div of 404 page */
.projects-box {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.w-100 {
  padding-bottom: 10px;
}

.hyperlinks {
  color: #AEA8D3!important;
}

a:hover {
  color:#AEA8D3!important;
}


/* animations */
.fade-in {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-slower {
  animation: slideInSlower 1.2s ease-in-out;
}

@keyframes slideInSlower {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}


